/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.editor-styles-wrapper .wp-block-createwithrani-superlist-block {
	&.horizontal {
		display: grid;
		li {
			margin: 0;
		}
	}
	&.none {
		list-style: none;
		padding: 0;
		li {
			list-style: none;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	& > .block-list-appender {
		display: none;
		transition: 0.5s ease all;
	}
	&.has-child-selected > .block-list-appender,
	&.is-selected > .block-list-appender {
		position: static;
	}
}
